@import "~bootstrap/dist/css/bootstrap.min.css";

.backRectangle {
  top: 20px;
  right: 700px;
  width: 260px;
  height: 350px;
  background-color: rgb(12, 165, 60);
}

.frontRectangle {
  top: 35px;
  right: 715px;
  width: 230px;
  height: 320px;
  background-color: rgb(255, 255, 255);
  border-radius: 3%;
}

button {
  top: 400px;
  right: 760px;
}

#number {
  font-family: "Slabo 27px", serif;
  font-size: 110px;
  top: 110px;
  right: 800px;
}

.upSuits {
  font-size: 50px;
  top: 35px;
  right: 890px;
}

.downSuits {
  font-size: 50px;
  top: 280px;
  right: 725px;
}

.black {
  color: black;
}

.red {
  color: red;
}
